# 차 한대 경로와 POI 찍기
    oid만 바꿔주면서 간단하게 시각화
    시간별로 경로는 나타나지 않고 관심지점 list만 정확하게 찍혔나 확인하는 용도입니다

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("2021_07.csv")
df

              oid      collection_dt   longitude   latitude
0        461003d4  20210703050000038  126.256293  33.227045
1        46100641  20210703050000303  126.502741  33.512351
2        4610102a  20210703050000319  126.415439  33.255618
3        4610193a  20210703050000506  126.496656  33.481452
4        46101141  20210703050000850  126.498412  33.291614
...           ...                ...         ...        ...
5071992  46101901  20210724132730743  126.526948  33.491362
5071993  46101957  20210724132730743  126.423097  33.491519
5071994  46100253  20210724132730758  126.496681  33.505021
5071995  46100253  20210724132730758  126.496681  33.505021
5071996  461005db  20210724132730758  126.520836  33.492259

[5071997 rows x 4 columns]

In [13]:
target_id = '461000ea'

In [14]:
target_id_rows = df[df['oid']=='461000ea']
target_id_rows[:100]

             oid      collection_dt   longitude   latitude
66710   461000ea  20210703091555835  126.304915  33.449414
66790   461000ea  20210703091600316  126.304915  33.449414
67087   461000ea  20210703091630325  126.304856  33.449360
67335   461000ea  20210703091700074  126.306108  33.450318
67783   461000ea  20210703091730622  126.306561  33.450141
...          ...                ...         ...        ...
102885  461000ea  20210703095930219  126.502861  33.504284
103497  461000ea  20210703100000759  126.503644  33.504144
103755  461000ea  20210703100030268  126.503639  33.504153
104391  461000ea  20210703100100870  126.503654  33.504156
104695  461000ea  20210703100130535  126.506728  33.504224

[100 rows x 4 columns]

In [15]:
# 관심지점
# location(DataFrame)
locations = pd.read_csv("K_Means_Clustering/2021_07_50_transformed.csv")

locations = locations[["lon", "lat"]]
locations.index = [f'POI{i}' for i in range(len(locations))]

In [16]:
import folium

# 제주도 위도, 경도 중심 좌표
center_lat, center_lon = 33.387, 126.519

# Folium 지도 객체 생성
map = folium.Map(location=[center_lat, center_lon], zoom_start=10)


for latitude, longitude in zip(target_id_rows['latitude'], target_id_rows['longitude']):
    folium.Marker(location=[latitude, longitude]).add_to(map)

for location, row in locations.iterrows():
    latitude = row['lat']
    longitude = row['lon']
    folium.Marker(location=[latitude, longitude], icon=folium.Icon(icon='cloud',icon_color='red'),popup=location).add_to(map)


map.save("one_car_and_POI.html")